<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>

    {{#if cart.products.length}}
        <ul>
            {{#each cart.products}}
                <li>
                    <h2>{{this.product.title}}</h2>
                    <p>Price: ${{this.product.price}}</p>
                    <p>Quantity: {{this.quantity}}</p>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No products in the cart.</p>
    {{/if}}

    <a href="/products">Back to Products</a>
</body>
</html>
