<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>

    <ul id="product-list">
        {{#each products}}
            <li>
                {{this.title}} - {{this.description}} - Código: {{this.code}} - ${{this.price}} - Estado: {{this.status}} - Stock: {{this.stock}} - Categoría: {{this.category}}
            </li>
        {{/each}}
    </ul>
</body>
</html>
